.faqPaper {
  padding: 24px;
  margin-bottom: 24px;
}

.faqQuestion {
  font-weight: 500 !important;
}

.contactPaper {
  padding: 24px;
  height: 100%;
}

.infoPaper {
  padding: 24px;
  height: 100%;
}

.contactIcon {
  background: linear-gradient(
    135deg,
    var(--primary-main),
    var(--secondary-main)
  ) !important;
  color: white !important;
}
