.settingsCard {
  padding: 24px;
  height: 100%;
}

.cardHeader {
  display: flex;
  align-items: center;
}

.headerIcon {
  background: linear-gradient(
    135deg,
    var(--primary-main),
    var(--secondary-main)
  ) !important;
  color: white !important;
  margin-right: 16px;
}
