body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Global styles */
:root {
  --primary-light: #9c4dcc;
  --primary-main: #6a1b9a;
  --primary-dark: #38006b;
  --secondary-light: #5e92f3;
  --secondary-main: #1565c0;
  --secondary-dark: #003c8f;
}
